body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  color: #9e9fa7;
  font-family: "Montserrat", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

.separated {
  margin-bottom: 10px;
}
