body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #1f3052;
  max-width: 1600px;
  margin: auto;
}

input::placeholder {
  color: #9e9fa7;
  font-family: "Poppins", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

@font-face {
  font-family: "Digital";
  src: local("Digital"), url(./assets/fonts/digital-7.ttf) format("truetype");
}
